# EazyBank — Environment Variables
# Copy to .env and fill in your values
# NEVER commit .env to source control

EC2_IP=13.233.158.149
GW_PORT=30564
KC_PORT=31479
KC_CLIENT_ID=eazybank-callcenter-cc
KC_CLIENT_SECRET=your-keycloak-client-secret-here
NAMESPACE=eazybank
